<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>hundredAddressTESt.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C01003871D8E61D70010549E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C01003A31D8E61D70010549E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C01003AE1D8E61D70010549E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
