<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>webtest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8E85B5501D52C81C00DA6567</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E85B5691D52C81C00DA6567</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E85B5741D52C81C00DA6567</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
