<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZS_SDKDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8EB5659E1D6D76FE00FD88CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8EB565B71D6D76FE00FD88CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8EB565C21D6D76FE00FD88CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
